.section-falcon9-1 {
  background-image: url("/img/falcon9/01.jpg");

  .title-falcon9 {
    font-size: 5.6rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }
}
.parameters {
  .parameters-title {
    font-size: 5rem;
  }
  .parameters-subtitle {
    font-size: 1.2rem;
  }
}
.section-falcon9-2 {
  background-image: url("/img/falcon9/02.jpg");

  .paragraph-description-falcon9 {
    width: 55%;
    font-size: 1.4rem;
    line-height: 50px;
  }
}
.section-falcon9-3 {
  #container-overview {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overview-1 {
    background-image: url("/img/falcon9/03.jpg");
  }
  .overview-2 {
    background-image: url("/img/falcon9/04.jpg");
  }
  .overview-3 {
    background-image: url("/img/falcon9/05.jpg");
  }
  .overview-4 {
    background-image: url("/img/falcon9/06.jpg");
  }
  .overview-5 {
    background-image: url("/img/falcon9/07.jpg");
  }
  .container-teste {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.paragraph-size {
  font-size: 1.1rem;
  line-height: 35px;
}

.width-default {
  width: 55%;
}

.section-falcon9-4 {
  background-image: url("/img/falcon9/08.jpg");
}
.carousel-image-falcon9 {

  width: 100%;
  height: auto;
}

//Media Query
@media (max-width: 1024px) {
  .parameters {
    .parameters-title {
      font-size: 5rem;
    }
    .parameters-subtitle {
    font-size: 1.1rem;
    }
  }
  .section-falcon9-2 {
    .paragraph-description-falcon9 {
      width: 100%;
    }
  }
  .width-default {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .section-falcon9-1 {
    .title-falcon9 {
      font-size: 4.5rem;
    }
    .subtitle-falcon9 {
      font-size: 1.2rem;
    }
  }
  .parameters {
    .parameters-title {
      font-size: 4.2rem;
    }
    .parameters-subtitle {
    font-size: 1rem;
    }
  }
  .section-falcon9-2 {
    .paragraph-description-falcon9 {
      font-size: 1.2rem;
      line-height: 40px;
    }
  }
  .table-size {
    font-size: .9rem;
  }
}
@media (max-width: 366px) {
  .section-falcon9-1 {
    .title-falcon9 {
      font-size: 4rem;
    }
    .subtitle-falcon9 {
      font-size: 1rem;
    }
  }
  .parameters {
    .parameters-title {
      font-size: 3.5rem;
    }
  } 
  .section-falcon9-2 {
    .paragraph-description-falcon9 {
      font-size: 1.1rem;
    }
  }
  .paragraph-size {
    line-height: 30px;
  }
}
@media (max-width: 326px) {
  .section-falcon9-1 {
    .title-falcon9 {
      font-size: 3.5rem;
    }
  }
}